@import url('./variables.scss');

.__font_700_37 {
  font-size: 37px;
  font-weight: 700;
  font-family: $font-family-main;
  font-style: normal;
  line-height: normal;
}

.__font_400_25 {
  font-size: 25px;
  font-weight: 400;
  font-family: $font-family-main;
  font-style: normal;
  line-height: normal;
}

.__font_400_16 {
  font-size: 16px;
  font-weight: 400;
  font-family: $font-family-main;
  font-style: normal;
  line-height: normal;
}

.__font_300_15 {
  font-size: 15px;
  font-weight: 300;
  font-family: $font-family-main;
  font-style: normal;
  line-height: normal;
}

.__font_300_12 {
  font-size: 12px;
  font-weight: 300;
  font-family: $font-family-main;
  font-style: normal;
  line-height: normal;
}
