// Variables

$font-family-main: 'Poppins', 'Montserrat', sans-serif;

$font-weight-bold: 700;
$font-weight-normal: 400;
$font-weight-light: 300;

$font-size-37: 37px;
$font-size-25: 25px;
$font-size-16: 16px;
$font-size-15: 15px;
$font-size-12: 12px;

$color-white: #fff;
$color-subtle-white: #fffefc;
$color-black: #000;
$color-beige: #9e896a;
$color-gray: #5b5b5b;
$color-light-gray: #acacac;
